imax 2 number of channels
jmax 1 number of background
kmax 6 number of nuisance parameters
------------------------------------------------------------------------------------------------
bin         mu_2b     e_2b
observation 0         0
------------------------------------------------------------------------------------------------
shapes * * workspaces/zprime_$MASS_workspace.root w:$PROCESS_$CHANNEL w:$PROCESS_$CHANNEL_$SYSTEMATIC
------------------------------------------------------------------------------------------------
bin         mu_2b     mu_2b         e_2b      e_2b
process     signal    background    signal    background
process     0         1             0         1
rate        0         0             0         0
------------------------------------------------------------------------------------------------
lumi lnN    1.026     -             1.026     -
eff  lnN    1         -             1         -
sig  lnN    1         -             1         -
jec  lnN    1         -             1         -
jer  lnN    1         -             1         -
pu   lnN    1         -             1         -
